<h1 id="red">About Us</h1>

<br>

<%# Link to Index %>
<%= link_to("Index Page", '/') %>
<br>


<%# Link to Home %>
<%= link_to("Home Page", 'home') %>
<br>

<%# Link to Contact us %>
<%= link_to("Contact Us", action: 'contact', country: 'us') %>
<br>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias pariatur eos ex dicta necessitatibus asperiores, veritatis officia amet iste optio quod accusamus explicabo blanditiis esse, dolor sapiente reiciendis recusandae unde.
Quibusdam reiciendis repudiandae aperiam voluptates laudantium aut illo error, esse eveniet reprehenderit, rerum impedit facere consequuntur earum excepturi officiis! Fugiat consequatur porro deserunt modi incidunt harum blanditiis nisi laborum sint?
Delectus optio, inventore dolor dolores, facere quidem consectetur quisquam officiis sapiente itaque omnis placeat amet nihil modi, vel doloremque blanditiis possimus? Quo, assumenda iusto? Qui ipsum optio vero a corporis.
Amet sit, excepturi doloremque aliquid, corrupti ut dicta ratione ipsum distinctio, cumque impedit velit iusto. Ex, nostrum, explicabo molestias sequi dicta dolorem perspiciatis error, ipsam minima tempora modi. Vitae, voluptate!
Nostrum est ipsum reiciendis voluptatibus alias rerum unde at maiores earum id neque laudantium nobis vero delectus, laboriosam odio, iure molestiae dolor. Facere laudantium atque vel quas quae a voluptatem.</p>