<h1>Contact Us</h1>

<br>

<%# Link to Index %>
<%= link_to("Index Page", '/') %>
<br>


<%# Link to Home %>
<%= link_to("Home Page", 'home') %>
<br>

<%# Link to About us %>
<%= link_to("About Us", 'about') %>
<br>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum deleniti, nostrum odit voluptas maxime neque ea. Animi dolores ullam assumenda sunt, aut consequatur pariatur labore quod, reiciendis ducimus maiores repellendus.
Veniam possimus, quam, hic harum accusantium aperiam quibusdam veritatis dignissimos laboriosam adipisci necessitatibus accusamus saepe facere similique corrupti velit? Esse quam laborum accusantium labore quaerat, doloribus consectetur voluptatibus quia id?
Nobis ipsa ducimus veritatis nulla voluptates sed, corrupti temporibus voluptatem esse? Id doloremque possimus aliquid architecto iste, tempore corporis omnis molestias tempora maxime ut. Odit placeat dolorem saepe ipsa dolores.
Alias ab temporibus officiis, animi delectus nisi fugit harum. Rem, autem saepe beatae soluta distinctio cupiditate odio vero aut enim, est optio quisquam odit voluptatem sit dolor quos tenetur velit.
Dolor distinctio, dolore voluptatum ipsam nisi sunt alias earum ducimus labore voluptate tenetur nemo. Distinctio autem voluptatum exercitationem. Praesentium officiis voluptatem tenetur ullam atque dolores quibusdam iusto deleniti odit doloribus.</p>

<hr>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, nemo omnis sequi dolores voluptatum error, corrupti hic quae, molestias voluptatibus repudiandae similique laudantium! Dicta asperiores blanditiis excepturi ab expedita sequi.
Modi, asperiores libero ipsum, ipsam exercitationem autem nemo quos architecto animi facilis amet tenetur sunt ipsa neque, quas dolores totam quis! Dicta totam eos suscipit exercitationem ea ratione id quidem.
Culpa rerum ipsam amet saepe totam magnam quam, tempore aspernatur, harum quasi accusantium? Ut non accusamus obcaecati voluptatem perspiciatis numquam ducimus doloribus assumenda, dicta velit, facilis alias saepe magni fugit.</p>

<h2>Contact Us</h2>
Ph: <%= @ph_num %>