<%= link_to("<< Back to List", subject_path(params[:subject_id]), :class => 'back-link') %>

<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(@new_page, :url => subject_pages_path) do |f| %>
    <%# :url and :method can be left out and Rails would still know what to do with the newly
    # created object. In this example, we are just explicitly telling it what to do. %>
       
       
       <%= render(:partial =>'form', :locals => {:f => f})%>


    <div class="form-buttons">
      <%= f.submit("Create Page") %>
    </div>

  <% end %>
</div>
