<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects delete">
  <h2>Delete Subject</h2>

  <%= form_for(@delete_subject, :method => 'delete') do |f| %>
       <%# a form with the delete method would send this form to the destroy action so there
       is no need to provide a url%>
       
       <p>Are you sure you want to permanently delete the <%=@delete_subject.name%> subject?</p>


    <div class="form-buttons">
      <%= f.submit("Delete Subject") %>
    </div>

  <% end %>
</div>
